@import "tailwindcss";
@import "tw-animate-css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: #f0f0f0;
  font-family: "Inter", sans-serif;
}

.my-container {
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  margin: 0 auto;
  height: 100%;
}
